* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Hind-Regular, 'Sans Serif', cursive;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

div, p, input, button {
    box-sizing: border-box;
}

.social-icons a:hover{
    color: white;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.header-top {
    background-color: #ededed;
    padding: 10px 0;
}

.header-center {
    background-color: white;
    padding: 29px 0;
}

.content-wrapper {
    max-width: 1150px;
    margin: 0 auto;
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

.city {
    font-family: Hind-Regular, 'Sans Serif', cursive;
    background: #212121;
    color: #fff;
    padding: 8px 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.contact-info > div {
    display: inline-block;
    margin-right: 35px;
}

.inline-menu > li {
    list-style: none;
    display: inline-block;
}

.social-icons {
    padding: 8px 0;
}

.social-icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #2e2e2e;
}

.header-attributes > div {
    display: inline-block;
    margin: 10px 0 10px 35px;
}

.hind-semibold {
    font-family: Hind-Semibold, sans-serif, cursive;
}

.header-attributes p:first-child {
    font-family: Hind-Bold, 'Sans Serif Bold', cursive;
}

.header-attributes p:last-child {
    color: #7a7a7a;
    font-family: Hind-Regular, 'Sans Serif', cursive;
    padding-left: 35px;
}

.header-attributes div:nth-child(even) {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding-right: 5px;
}

.header-attributes .fa {
    padding: 0 10px;
}

.header-bottom {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    width: 100%;
}

.navigation a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 16px;
    font-family: Hind-Medium, 'Sans Serif', cursive;
}

.menu {
    padding: 4px 0;
}

.section {
    background: url("./../imgs/Section-1-BG.png") no-repeat scroll right black;;
    height: 751px;
}

.search {
    color: white;
    font-size: 20px;
    padding: 22px 0;
}

@font-face {
    font-family: Hind-Regular;
    src: url(../fonts/hind/Hind-Regular.ttf);
}

@font-face {
    font-family: Hind-Bold;
    src: url(../fonts/hind/Hind-Bold.ttf);
}

@font-face {
    font-family: Hind-Medium;
    src: url(../fonts/hind/Hind-Medium.ttf);
}

@font-face {
    font-family: Hind-Semibold;
    src: url(../fonts/hind/Hind-Semibold.ttf);
}

.navigation li {
    border-bottom: solid 6px rgba(0, 0, 0, 0);
    padding: 21px 0 15px;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.navigation li:hover {
    border-bottom: solid 6px red;
}

